#Tell Linguist to exlcude almost all CMake files.
build/CMakeFiles/* linguist-vendored
build/CMakeCache.txt linguist-vendored
build/Makefile linguist-vendored
build/cmake_install.cmake linguist-vendored
build/src/MakeFile linguist-vendored
build/src/cmake_install.cmake linguist-vendored
build/src/CMakeFiles/* linguist-vendored
build/src/new/CMakeFiles/* linguist-vendored
ƀuild/src/new/Makefile linguist-vendored
ƀuild/src/new/cmake_install.cmake linguist-vendored

build/src/new/1/CMakeFiles/* linguist-vendored
build/src/new/2/CMakeFiles/* linguist-vendored
build/src/new/3/CMakeFiles/* linguist-vendored
build/src/new/4/CMakeFiles/* linguist-vendored
build/src/new/5/CMakeFiles/* linguist-vendored
build/src/new/6/CMakeFiles/* linguist-vendored
build/src/new/7/CMakeFiles/* linguist-vendored
build/src/new/8/CMakeFiles/* linguist-vendored
build/src/new/9/CMakeFiles/* linguist-vendored
build/src/new/10/CMakeFiles/* linguist-vendored
build/src/new/11/CMakeFiles/* linguist-vendored
build/src/new/12/CMakeFiles/* linguist-vendored
build/src/new/13/CMakeFiles/* linguist-vendored
build/src/new/14/CMakeFiles/* linguist-vendored
build/src/new/15/CMakeFiles/* linguist-vendored
build/src/new/16/CMakeFiles/* linguist-vendored
build/src/new/17/CMakeFiles/* linguist-vendored
build/src/new/18/CMakeFiles/* linguist-vendored
build/src/new/19/CMakeFiles/* linguist-vendored
build/src/new/20/CMakeFiles/* linguist-vendored
build/src/new/21/CMakeFiles/* linguist-vendored
build/src/new/22/CMakeFiles/* linguist-vendored
build/src/new/23/CMakeFiles/* linguist-vendored
build/src/new/24/CMakeFiles/* linguist-vendored
build/src/new/25/CMakeFiles/* linguist-vendored
build/src/new/26/CMakeFiles/* linguist-vendored
build/src/new/27/CMakeFiles/* linguist-vendored
build/src/new/28/CMakeFiles/* linguist-vendored
build/src/new/30/CMakeFiles/* linguist-vendored